body {
  background: #f5f1ef;
  font-family: "PT Sans", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 40px;
  height: 150px;
  background: linear-gradient(to right, #604385, #526194);
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 10px;
}

header span {

  width: 80px;
  height: 80px;
  border: #1f05a5 solid, 2px;
  border-radius: 50%;
  background-image: url('../assets/icons/logo.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main {
  background: #f7f7ff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 0;
}

.searchSection {
  position: relative;
  top: -60px;
  background: white;
  margin: 0 20px 20px 20px;
  border-radius: 25px;
}

.todoListSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -60px;
  background: white;
  margin: 0 20px 20px 20px;
  border-radius: 25px;
}

@media (max-width: 425px) {
  header {
    gap: 5px;
  }

  header span {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
}