.todoItem {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-items: center;
    align-items: center;
    border-bottom: solid 1px gray;
}

.textItem {
    width: 400px;
}

.textItemCompleted {
    text-decoration-line: line-through;
}

.rightButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 425px) {
    .todoItem {
        width: 80%;
    }
}