.todoItem{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-items: center;
    align-items: center;
    border-bottom: solid 1px gray;
}

.todoItemChecked {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../assets/icons/check.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.todoItemUnchecked {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../assets/icons/uncheck.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.textItem {
    width: 400px;
}

.removeItemButton {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/trash-x.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}